<clr-main-container>
  <app-nav-header></app-nav-header>
  <!--<app-sub-nav></app-sub-nav>-->
  <div class="content-container">
    <div class="content-area">
      <router-outlet></router-outlet>
    </div>
    <clr-vertical-nav [clrVerticalNavCollapsible]="true" [(clrVerticalNavCollapsed)]="collapsed" [clr-nav-level]="1">
      <app-side-nav [hidden]="space !== 'marketPlace'"></app-side-nav>
      <app-side-nav-profile [hidden]="space !== 'profile'" ></app-side-nav-profile>
    </clr-vertical-nav>
  </div>
</clr-main-container>