<nav class="subnav">
  <ul id="demoTabs" class="nav" role="tablist">
    <li role="presentation" class="nav-item" *ngFor="let theme of themes">
      <button id="tab1" class="btn btn-link nav-link" aria-controls="panel1"
              aria-selected="true" type="button">{{theme.name }}</button>
    </li>
  </ul>
</nav>