<clr-header class="header header-6">
  <div class="branding">
    <a href="..." class="nav-link">
      <clr-icon shape="vm-bug"></clr-icon>
      <span class="title"> My Ecommerce </span>
    </a>
  </div>
  <form class="search">
    <label for="search_input">
      <input id="search_input" type="text" placeholder="Search for keywords...">
    </label>
  </form>
  <div class="header-actions">
    <a routerLink="user/login" class="nav-link nav-icon">
      <clr-icon shape="user"></clr-icon>
    </a>
  </div>
</clr-header>