<clr-vertical-nav-group
        routerLinkActive="active">
    <clr-icon shape="user" clrVerticalNavIcon></clr-icon>
    Normal
    <clr-vertical-nav-group-children>
        <a clrVerticalNavLink
           routerLink="./normal/pidgey"
           routerLinkActive="active">
            Pidgey
        </a>
        <a clrVerticalNavLink
           routerLink="./normal/snorlax"
           routerLinkActive="active">
            Snorlax
        </a>
    </clr-vertical-nav-group-children>
</clr-vertical-nav-group>
<clr-vertical-nav-group
        routerLinkActive="active">
    <clr-icon shape="flame" clrVerticalNavIcon></clr-icon>
    Fire
    <clr-vertical-nav-group-children>
        <a clrVerticalNavLink
           routerLink="./fire/charmander"
           routerLinkActive="active">
            Charmander
        </a>
        <a clrVerticalNavLink
           routerLink="./fire/charizard"
           routerLinkActive="active">
            Charizard
        </a>
    </clr-vertical-nav-group-children>
</clr-vertical-nav-group>
<clr-vertical-nav-group
        routerLinkActive="active">
    <clr-icon shape="bolt" clrVerticalNavIcon></clr-icon>
    Electric
    <clr-vertical-nav-group-children>
        <a clrVerticalNavLink
           routerLink="./electric/pikachu"
           routerLinkActive="active">
            Pikachu
        </a>
        <a clrVerticalNavLink
           routerLink="./electric/raichu"
           routerLinkActive="active">
            Raichu
        </a>
    </clr-vertical-nav-group-children>
</clr-vertical-nav-group>
<a clrVerticalNavLink routerLinkActive="active" routerLink="./credit">
    <clr-icon shape="certificate" clrVerticalNavIcon></clr-icon>
    Credit
</a>