<clr-vertical-nav-group routerLinkActive="active">
  <clr-icon shape="user" clrVerticalNavIcon></clr-icon>
  Hi {{profile.lastName}}
  <clr-vertical-nav-group-children *clrIfExpanded="true" >
    <a clrVerticalNavLink routerLink="./normal/pidgey" routerLinkActive="active">
      My information
    </a>
    <a clrVerticalNavLink routerLink="./normal/snorlax" routerLinkActive="active">
      Adresse
    </a>
  </clr-vertical-nav-group-children>
</clr-vertical-nav-group>
<clr-vertical-nav-group routerLinkActive="active">
  <clr-icon shape="shopping-bag"></clr-icon>
  My Shop
  <clr-vertical-nav-group-children *clrIfExpanded="true" >
    <a clrVerticalNavLink routerLink="./normal/pidgey" routerLinkActive="active">
      Product
    </a>
    <a clrVerticalNavLink routerLink="./normal/snorlax" routerLinkActive="active">
      Adresse
    </a>
  </clr-vertical-nav-group-children>
</clr-vertical-nav-group>
<a clrVerticalNavLink routerLink="./normal" routerLinkActive="active" (click)="logout()">
  <clr-icon shape="logout"></clr-icon>
  Logout
</a>