<div class="container">
  <main class="content-area">
    <h1>
      My account
    </h1>
    <div class="row">
      <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
        <div class="card">
          <div class="card-header">
            <clr-icon shape="login"></clr-icon>
            Login
          </div>
          <form (ngSubmit)="onSubmit(loginForm)" #loginForm="ngForm">
            <div class="card-block">
              <app-alert [typeAlert]="typeAlert" [textAlert]="textText" ></app-alert>
              <div class="card-text">
                <section class="form-block">
                  <div>
                    <label class="col-lg-4">Email </label>
                    <label aria-haspopup="true" [ngClass]="{'tooltip tooltip-validation invalid tooltip-md': !emailControl.valid && emailControl.dirty }" >
                      <input
                              type="email"
                              placeholder="Enter your email"
                              #emailControl="ngModel" required email
                              [(ngModel)]="email" name="email"
                      >
                      <span class="tooltip-content" [hidden]="emailControl.valid || emailControl.pristine">
                    Email is invalid!
                  </span>
                    </label>
                  </div>
                  <br>
                  <div>
                    <label class="col-lg-4">Password </label>
                    <label aria-haspopup="true" [ngClass]="{'tooltip tooltip-validation invalid tooltip-md': !passwordControl.valid && passwordControl.dirty }" >
                      <input
                              type="password"
                              placeholder="Enter your password"
                              #passwordControl="ngModel" required
                              [(ngModel)]="password" name="password"
                      >
                      <span class="tooltip-content" [hidden]="passwordControl.valid || passwordControl.pristine">
                    password is invalid!
                  </span>
                    </label>
                  </div>
                </section>
              </div>
            </div>
            <div class="card-footer">
              <button class="btn btn-primary" [disabled]="loginForm.form.invalid">Login</button>
            </div>
          </form>
        </div>
      </div>
      <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
        <app-register></app-register>
      </div>
    </div>
  </main>
</div>